@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*=============================================
=            CSS common style            =
=============================================*/
/* CSS Reset */
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Raleway", sans-serif;
    --primary-color: #4e47ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);

}

.btn-primary {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    padding: 12px 36px;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid black;
}


/*=====  End of CSS common style  ======*/


/*=============================================
=            Nav bar            
=============================================*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 50px 150px;
  
}

.nav-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 34px;
    line-height: 150%;
    color: var(--primary-color);
}

/*=====  End of Nav bar  ======*/